/**
 * Created by kasonchan on 4/28/15.
 */

html, body {
    width: 100%;
    height: 100%;
    font-family: Roboto, sans-serif;
    -ms-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size: 16px;
    margin: 0px auto;
}

#div_solve {
    position: absolute;
    bottom: 20px;
    left: 48%;
}

#div_reset {
    position: absolute;
    bottom: 20px;
    left: 48%;
}

button {
    padding: 10px;
    font-size: medium;
    border: none;
    background-color: #03A9F4; /* Light blue */
    color: #FFFFFF; /* White */
}

#playground {
    border: none;
    height: 100%;
    width: 100%;
    margin: auto;
    position: absolute;
}

#display {
    display: block;
    height: 16px;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    top: 50%;
    margin-top: -8px;
}

#log {
    display: block;
    position: absolute;
    top: 220px;
}

.dot {
    position: absolute;
    height: 5px;
    width: 5px;
    background-color: #000000; /* Black */
    border-radius: 10px;
    float: left;
}
